.body{
    background: #000000;
}
.head{
    display: flex;
    justify-content: space-between;
    background: #ffffff;
    padding: 4px;
}
.imglogo{
    width: 45px;
}
.icons{
    display: flex;
    justify-content: space-evenly;
    width: 80px;
}
.icons1{
    display: flex;
    justify-content: space-evenly;
    width: 80px;
   
}
.icons1:hover{
    background: #ffffff;
    color: #000000;
   border-radius: 40px;  
}
.icons3{
    display: flex;
    justify-content: space-evenly;
    width: 150px;
}
.inp{
   
    outline: 0px; 
    border: 0px;  
    font-family: bold;
    font-size: 20px;
    background-color: #e6f1ff;
}

.search{
    background: #e6f1ff;
    display: flex;
    justify-content: space-between;
    width: 450px;
    align-items: center;
    border-radius: 15px;
    padding: 10px;
}
.offrDiv{
    display: grid;

}
.offer
{
    display: flex;
    justify-content: space-between;
    padding: 7px;
    margin: 20px;
    background: #ffffff;
    border-radius: 9px;
}
#offer{
   height: 60px;
   max-width: 60px;

   justify-self: center;
}
.ad{
    width: 100%;
}
.deals{
    display: flex;
    justify-content: space-between;
}
.dealDiv{
    border: 1px solid rgb(204, 198, 198);
    padding: 55px;
    padding-top: 5px;
    border-radius: 5px;
    padding-bottom: 15px;
}
.img{
    max-width: 400px;
     height: 150px;
}
.p1{
    display: grid;
    justify-content: center;
}
.log{
    background: #ffffff;
    padding: 10px
    
}