.head{
    display: flex;
    justify-content: space-evenly;
    background: hsl(217, 87%, 55%);
    width: 150vh;
    align-items: center;
}
.logo{
   
}
.search{
    background: #ffffff;
    display: flex;
    justify-content: space-between;
    width: 350px;
    align-items: center;
}

#p{
    color: #ffffff;
}
.log{
    background: #ffffff;
    padding: 15px;

    padding-top: 8px;
    padding-bottom: 8px;
}
.imglogo{
    width: 80px;
    display: grid;
}
.logo1{
    display: flex;
    justify-content: space-between;
}
.items{
    display: flex;
    justify-content: space-evenly;
    padding: 8px;
    background-color: #ffffff;
}
.loginDiv{
    background: #2874f0;
    width: 25%;
    background-image: url(login_page_logo.png);
    background-repeat: no-repeat;
    background-position: center 85%;
    font-size: 180%;
    padding-top: 5px;
}
#p1{
    color: #ffffff;
    padding-left: 30px;
}
#p2{
    color: #cec7c7;
    font-size: large;
     padding-left: 30px;
}
.loginDiv1{
    background: #ffffff;
    width: 35%;
    display: grid;
    grid-template-rows: 1fr 1fr;
    padding-top: 30px;
    padding-left: 5px;
}
.loginD{
    display: flex;
    height: 550px;
    justify-content: center;
    padding-top: 18px;
    padding-bottom: 25px;
   }
#button{
    outline: 0px;
    border: 0px;
    background: #ff7b00;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    padding: 15px;
    color: #ffffff;
}
#loginp{
    outline: 0px;
    border: 0px;
    border-bottom: 1px solid #cec7c7;
    border-spacing: 90%;
    width: 80%;
    height: 30px;
   color: #cec7c7;
   font-size: 17px;
}

#a1{
  
    text-align: center;
}
.a11{
    text-decoration: none;
    color: #2874f0;
}